$font-family: 'Roboto', sans-serif;
$primary-color: #333;
$secondary-color: #fff;
$highlight-color: rgba(255, 255, 255, 0.5);
$highlight-color-secondary: rgba(255, 255, 255, 0.25);
$btn-border: 0.05rem solid $secondary-color;
$card-background: #1A9AE1;
$card-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
$card-content-color:white;
$card-content-back:#1A9AE1;
$card-reveal-color:rgba(0, 0, 0, 0.71);
$selected-back:#007bff;